MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=mousetoxdb
MYSQL_USER=mousetoxdb
MYSQL_PASSWORD=mousetoxdb_pass
ASSETS_DIR=/Users/lsl/Desktop/Code/SDNU/demo
EXCEL_PATH=/Users/lsl/Desktop/Code/SDNU/260307小鼠双端信息全.xlsx
STATISTICS_DIR=/Users/lsl/Desktop/Code/SDNU/data/statistics
